# Visual Studio code coverage results
*.coverage
*.coveragexml

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/




# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows system files
Thumbs.db




# Terraform state files
*.tfstate
*.tfstate.backup
*.tfvars

# Terraform crash log files
crash.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json




# Ansible-related files
*.retry
*.log

# Sensitive Ansible variables (if any)
secrets.yml

# Directory for Ansible roles (optional, if not using Galaxy roles)
roles/




# Azure Stream Analytics local run output
ASALocalRun/

# Azure CLI credentials
.azure


# Python virtual environment (if you're using Python for any automation)
.venv/
__pycache__/
*.pyc
*.pyo


# MacOS system files
.DS_Store


# Backup files and editor swap files
*.swp
*.swo
*.bak
*.tmp

# Log files
*.log


# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Other sensitive files (add any additional secrets or config files)
